
<p>   
    How many comparisons would you like to make?
</p>
<%= form_with url:'save_form_params' do |form| %>  
    <%= form.text_field :num_pairs %>    
  <input type="submit" value="Start Survey" class="btn btn-primary">
<% end %>
